@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import 'scss-reset/_reset.scss';

:root {
  --white: #fff;
  --black: #101820;
  --green: #007672;
  --red: #ba0040;

  --black-shadow: #10182030;
  --white-transparent: #ffffff90;
  --black-transparent: #000000ee;

  // for gradient
  --gradient-color--cat: var(--green);
  --gradient-color--dog: var(--red);
  --gradient-angle--cat: 110deg;
  --gradient-angle--dog: 250deg;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 2rem;
}

.container {
  max-width: 120rem;
  padding-inline: 3rem;
  margin-inline: auto;
}

.btn {
  font-size: 3rem;
  font-weight: 700;

  flex: 1;
  padding: 2rem;
  background-color: var(--white-transparent);

  &--cat {
    border-radius: 1rem 0 0 1rem;
  }

  &--dog {
    border-radius: 0 1rem 1rem 0;
  }

  &--active,
  &:hover {
    filter: opacity(0.6);
  }
}

.animals-nav {
  width: 100%;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.animals {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.animal {
  border-radius: 1rem;

  &__info--primary {
    display: flex;
  }

  &__img {
    display: block;
    width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }
}

.background {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  background-image: linear-gradient(0, #000 10%, var(--black) 90%);

  &--cat {
    background-image: linear-gradient(
      180deg,
      var(--black) 0%,
      var(--gradient-color--cat) 100%
    );
  }

  &--dog {
    background-image: linear-gradient(
      180deg,
      var(--black) 0%,
      var(--gradient-color--dog) 90%
    );
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: var(--black-transparent);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;

  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 70vw;
  height: 90vh;
  background-color: var(--white-transparent);
  border-radius: 2rem;
  overflow: hidden;

  position: fixed;
  top: 50vh;
  left: 50%;
  translate: -50% -50%;
  z-index: 99;

  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
